{% extends 'classrooms/base.html' %}
{% load static %}
{% block content %}
<div class="container p-3">
    <h4>See All Announcements</h4>
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-lg">
                <div>
                    {% if announcements|length >= 1 %}
                        {% for announcement in announcements %}
                          {% if not announcement.read %}
                          <div class="p-1 bg-light" ><span class="text-success">{{ announcement.announcement.classroom.user }}</span>
                            @ <a style="text-decoration: none;" href="{% url 'classroom-student' announcement.announcement.classroom.id %}"> <span style="color: #2A7889;">{{ announcement.announcement.classroom.title }}</span></a>   <span style="float: right; font-size: 10px;" class="text-muted m-2">{{ announcement.announcement.date_posted }}</span>
                              <div class="row p-1">
                                  <div class="col-2">
                                    <img class="img-fluid rounded-circle" src="{{ announcement.announcement.classroom.user.profile.image_url }}" alt="">
                                  </div>
                                  <div class="col-10">
                                      <h5>{{ announcement.announcement.headline }}</h5>
                                    
                                    <div>
                                        {{ announcement.announcement.content }}
                                    </div>
                                  </div>
                                  <div>
                                  <a style="text-decoration: none; float:right; color: darkgreen;" href="{% url 'mark-read' announcement.id %}"><i class="fa fa-check"></i> Mark As Read</a>
                                </div>
                              </div>
                              
                               <hr class="dropdown-divider">
                          </div>
                          {% endif %}
                          {% endfor %}
                          {% for announcement in announcements %}
                            {% if announcement.read %}
                              <div class="p-1 rext-muted" ><span class="text-success">{{ announcement.announcement.classroom.user }}</span>
                                @ <span style="color: #2A7889;">{{ announcement.announcement.classroom.title }}</span>   <span style="float: right; font-size: 10px;" class="text-muted m-2">{{ announcement.announcement.date_posted }}</span>
                                  <div class="row p-1">
                                      <div class="col-2">
                                        <img class="img-fluid rounded-circle" src="{{ announcement.announcement.classroom.user.profile.image_url }}" alt="">
                                      </div>
                                      <div class="col-10">
                                          <h5>{{ announcement.announcement.headline }}</h5>
                                        
                                        <div>
                                            {{ announcement.announcement.content }}
                                        </div>
                                      </div>
                                  </div>
                                   <hr class="dropdown-divider">
                              </div>
                           {% endif %}
                      {% endfor %}
                    {% else %}
                    <div class="text-center">No Announcements</div>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}