{% extends 'classrooms/base.html' %}
{% load static %}
{% block content %}
<div class="container p-3">
    <h4>See All Announcements</h4>
    <div class="row">
        <div class="col-md-9">
            <div class="card shadow-lg">
                <div>
                    {% if announcements|length >= 1 %}
                        {% for announcement in announcements %}
                            {% if not announcement.read %}
                              <div style="background-color: #c4def2;" class="p-1 border-bottom shadow-sm" ><span class="text-success">{{ announcement.announcement.classroom.user }}</span>
                                @ <a style="text-decoration: none;" href="{% url 'classroom-student' announcement.announcement.classroom.id %}"> <span style="color: #2A7889;">{{ announcement.announcement.classroom.title }}</span></a>   <span style="float: right; font-size: 10px;" class="text-muted m-2">{{ announcement.announcement.date_posted }}</span>
                                  <div class="row p-1">
                                      <div class="col-2 text-center">
                                        <img style="width: 5em; height: 5em;" class="img-fluid rounded-circle" src="{{ announcement.announcement.classroom.user.profile.image_url }}" alt="">
                                      </div>
                                      <div class="col-10">
                                          <a class="h5 text-dark" style="text-decoration: none;" href="{% url 'classroom-student' announcement.announcement.classroom.id %}">{{ announcement.announcement.headline }}</a>
                                        <div class="border p-1">
                                            {{ announcement.announcement.content }}
                                        </div>
                                      </div>
                                      <div>
                                      <a style="text-decoration: none; float:right; color: darkgreen;" href="{% url 'mark-read' announcement.id %}"><i class="fa fa-check"></i> Mark As Read</a>
                                    </div>
                                  </div>
                              </div>
                            {% endif %}
                        {% endfor %}
                          {% for announcement in announcements %}
                            {% if announcement.read %}
                              <div class="p-1 text-muted shadow-sm" ><span class="text-muted">{{ announcement.announcement.classroom.user }}</span>
                                @ <span class="text-muted" style="color: #2A7889;">{{ announcement.announcement.classroom.title }}</span><span style="float: right; font-size: 10px;" class="text-muted m-2">{{ announcement.announcement.date_posted }}</span>
                                  <div class="row p-1">
                                      <div class="col-2 text-center">
                                        <img style="width: 5em; height: 5em;" class="img-fluid rounded-circle" src="{{ announcement.announcement.classroom.user.profile.image_url }}" alt="">
                                      </div>
                                      <div class="col-10">
                                        <a class="h5 text-dark" style="text-decoration: none;" href="{% url 'classroom-student' announcement.announcement.classroom.id %}">{{ announcement.announcement.headline }}</a>
                                        
                                        <div class="border p-1">
                                            {{ announcement.announcement.content }}
                                        </div>
                                      </div>
                                  </div>
                              </div>
                           {% endif %}
                      {% endfor %}
                    {% else %}
                    <div class="text-center">No Announcements</div>
                    {% endif %}
                </div>
                
            </div>
        </div>
        <div class="col-md-3">

        </div>
    </div>
</div>
{% endblock %}