{% extends 'classrooms/base.html' %}
{% load static %}
{% block content %}
<div class="container p-3">
    <div class="card p-5 shadow-lg ">
    <div class="row">
      <div class="col-md-4 order-md-2 mb-4">
        <img class="border-dark p-1 shadow img-fluid" style="width: 20em; height: 20em" id="img1" src="{{ profile.image_url }}" alt="">
        <input class="form-control-file mt-2" id="imgFile" onchange="loadFile(event)" type="file" required>
      </div>
      <div class="col-md-8 order-md-1">
        <h4 class="mb-3">We would love to know more about you:</h4>
        <div id="form-error" class="alert alert-danger text-center" style="display: none;">Please Fill the form</div>
        <div id="phone-error" class="alert alert-danger text-center" style="display: none;">This phone number already exists</div>
          <div class="row">
            <div class="col-md-1 mb-3">
                <label for=""></label>
                <input type="text" value="+" class="form-control text-center" readonly>
              </div>
            <div class="col-md-2 mb-3">
              <label for="firstName">Country Code</label>
              <input type="text" pattern="\d*" value="" maxlength="2" class="form-control text-center" id="country-code" required>
            </div>
            <div class="col-md-9 mb-3">
              <label for="lastName">Mobile Number</label>
              <input type="text" value="{{ profile.phone }}" pattern="\d*" maxlength="10" class="form-control text-center" id="phone-number" required>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label for="firstName">First name</label>
              <input type="text" value="{{ profile.user.first_name }}" class="form-control text-center" id="first-name" required>
            </div>
            <div class="col-md-4 mb-3">
              <label for="lastName">Last name</label>
              <input type="text" value="{{ profile.user.last_name }}" class="form-control text-center" id="last-name" required>
            </div>
          <div class="col-md-4 mb-3">
            <label for="email">Current Status</label>
            <input type="text" value="{{ profile.status }}" class="form-control" id="status" placeholder="Working, Student, etc...">
          </div>
          </div>
          <div class="mb-3">
            <label for="address">Company or Institution or Organization</label>
            <input type="text" value="{{ profile.company }}" class="form-control" id="company" required>
          </div>
          <div class="mb-3">
            <label for="address2">Describe Yourself <span class="text-muted">(Optional)</span></label>
            <textarea rows='3' class="form-control" id="bio">{{ profile.bio }}</textarea>
          </div>
          <hr class="mb-4">
          <div class="container">
          <button class="btn btn-lg btn-block" onclick="submitForm()" style="width: 100%; background-color: #2A7889; color: white;" type="button">Submit my details</button>
        </div>
      </div>
    </div>
    </div>
    <script>
        var loadFile = function (event) {
            var output = document.getElementById('img1');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function () {
                URL.revokeObjectURL(output.src) // free memory
            }
        };

    </script>
{% endblock %}    
{% block script %}
<script>
    function submitForm() {
      var formData = new FormData();
      formData.append('country', document.getElementById('country-code').value);
      formData.append('first-name', document.getElementById('first-name').value);
      formData.append('last-name', document.getElementById('last-name').value);
      formData.append('phone', document.getElementById('phone-number').value);
      formData.append('status', document.getElementById('status').value);
      formData.append('company', document.getElementById('company').value);
      formData.append('bio', document.getElementById('bio').value);
      formData.append('image', document.getElementById('imgFile').files[0]);
      formData.append('csrfmiddlewaretoken', '{{csrf_token}}');
        var error = false
        for (var value of formData.values()) {
          if (value == ""){
            error = true
          }
        }
        if (error === true){
            $('#form-error').show()
        } else {
            $.ajax({
                url: '/edit-profile/',
                method: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                dataType: 'json',
                success: function(data) {
                    if (data == 'true'){
                        window.location.replace('/profile/')
                    }
                    if (data == 'false'){
                      $('#phone-error').show()
                    }
                }
            })
        }
    }
</script>
{% endblock %}
