{% extends 'classrooms/base.html' %}
{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-8 mt-4">
        <div class="container-fluid">
        <h4 style="color: #2A7889;">{{ classroom.title }}</h4>
         <p>{{ classroom.description }}</p>
         <div style="width: 100%;" class="card p-3 shadow rounded-pill">
            <div class="row">
                <div class="col-md-4">
                    <!-- <div style="display: flex;"> -->
                        <div class="row">
                            <small style="margin-left: 3em;" class="text-muted">Instructor:</small>
                            <div class="col-7">
                    <img style="width: 10em; height: 10em;" class="img-fluid rounded-circle" src="{{ classroom.user.profile.image.url }}" alt="">
                </div>
                <div class="col-5">
                    <p><h5 class="mt-5">{{ classroom.user }}</h5>
                    <h6 class="text-muted">"{{ classroom.user.profile.status }}"</h6>
                </p>
                </div>
            </div>
                </div>
                <div class="col-md-4">

                </div>
                <div class="col-md-4"></div>
            </div>

         </div>
        </div>
    </div>
     <div class="col-md-4 mt-5">
        <div class="embed-responsive embed-responsive-16by9"> 
        <video class="video-fluid"  id="video-player" width="90%" controls>
            <source src="{{ classroom.video.url }}" type="video/mp4">
        </video>
        </div>
        <a style="background-color: #2A7889; width: 90%;" class="btn text-white">JOIN CLASSROOM</a>
         
       <!-- <button style="background-color: #2A7889; width: 15em;" class="btn rounded text-white shadow-lg">Manage Students</button><br>
        <button style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Announcements</button><br>
        <a href="{% url 'manage-days' classroom.id %}" style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Manage Days</a><br>
        <button style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Live Class</button>
        </div> -->
</div>
</div>
{% endblock %}