{% extends 'classrooms/base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 mt-2">
            <h4>{{ classroom.title }}</h4>
            <div style="justify-content: space-between; display: flex;">
            <h5 class="text-muted">Manage Days:</h5>
            <a style="text-decoration: none;" href="{% url 'add-new-day' classroom.id %}" class="text-success">+ADD NEW DAY</a>
        </div>
        {% for day in days %}
        <div class="card p-2 shadow rounded mt-2">
            <div class="row text-center">
                <div class="col-md-4">
                    Day: {{forloop.counter}}
                </div>
                <div class="col-md-4">
                    {{ day.video_title }}
                </div>
                <div class="col-md-4">
                    <button class="btn btn-danger">PUBLISH</button>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
        <div class="col-md-4 text-center mt-5">
            <button style="background-color: #2A7889; width: 15em;" class="btn rounded text-white shadow-lg">Manage Students</button><br>
            <button style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Announcements</button><br>
            <button style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Manage Days</button><br>
            <button style="background-color: #2A7889; width: 15em;" class="btn mt-3 rounded text-white shadow-lg">Live Class</button>
            </div>
    </div>
    </div>
{% endblock %}