{% extends 'classrooms/base.html' %}
{% load static %}
{% block content %}
<div class="row p-3">
    <div class="col-12">
        <div style="background-color: rgb(255, 255, 255);" class="card shadow p-5">
        <section>
            <div class="container">
            <div class="row mb-5">   
                    <div class="col-md-6">
                        <h3 class="text-center" style="margin-top: 4em;">Choose what you want to Teach:</h3>
                                <select style="margin-top: 2em;" id="category" onchange="showCategories()" class="form-control">
                                    <option>Choose Category</option>
                                    {% for category in categories %}
                                    <option value="{{ category.id }}">{{ category }}</option>
                                    {% endfor %}
                                </select>
                                <select style="display: none;" id="sub-category" onchange="secCategoryChange()" class="form-control mt-2" required>
                                </select>
                                <div class="text-center mt-5">
                            <small style="margin-top: 5em;" class="text-muted">**You Need to pass test to teach</small>
                        </div>
                            <button onclick="takeTest()" style="width: 100%;" class="btn btn-primary">TAKE TEST</button>
                        <div id="take-test">
                            
                        </div>
                </div>  
                    <div class="col-md-6">
                        <img style="margin-top: 4em;" class="img-fluid" src="{% static 'svg/quiz.svg' %}">
                    </div>
                </div>
            </div>
        </section>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script>
    function showCategories(){
        $('#take-test').html('');
        category = $('#category').val()
        $.ajax({
            url: '/admin/choose-category/',
            method: 'POST',
            data: {
                'csrfmiddlewaretoken': '{{csrf_token}}',
                'category': category
            },
            dataType: 'json',
            success: function(data){
                data1 = JSON.parse(data.categories)
                console.log(data)
                $('#sub-category').show()
                $('#sub-category').html('')
                for (var i=0; i<data1.length; i++) {
                    $('#sub-category').append('<option value="'+data1[i].pk+'">'+data1[i].fields.name+'</option>')
                }
        }
        })
    }
</script>
<script>
    function secCategoryChange() {
        $('#take-test').html('');
    }
</script>
<script>
    function takeTest(){
        $('#take-test').html('');
        var category = $('#sub-category').val()
        var data = {
            'csrfmiddlewaretoken': '{{ csrf_token }}',
            'category': category
        }
        if (category == null){
            swal({
                title: "Please choose a valid category",
                icon: "error"
            })
        } else {
            $.ajax({
                url: '/teach/',
                method: 'POST',
                data: data,
                dataType: 'json',
                success: function(data){
                    if (data == 'true'){
                        window.location.replace('/test/')
                    }
                    if (data == 'passed'){
                        swal({
                            title: "You have Already passed Test for this category",
                            icon: "success"
                        })
                        $('#take-test').append('<a id="create-classroom" href="{% url "create-classroom" %}" style="width: 100%;" class="btn btn-success mt-1">CREATE CLASSROOM</a>')
                    }
                    if (data == 'false'){
                        swal({
                            title: "we haven't created test for this category yet",
                            icon: "info"
                        })
                    }
                }
            })
        }
    }
</script>
{% endblock %}